extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
            p.lead.lead-small
                | The MIT Live Music Connection, founded in the fall of 2009, is a non-profit student organization devoted to bringing live music by students to students. We strive to promote musicianship on campus and provide an opportunity for student musicians to develop their performance skills.
            p.lead.lead-small
                | LMC has two major programs: 
                a.custom-a(href='/concerts') Concert Series
                |  and 
                a.custom-a(href='/opensource') Open Source Music
                | .
            p.lead.lead-small
                | All our Concert Series shows are free and feature professional audio, lighting and staging, giving bands a place to showcase their music with no cost to the bands or the audience. This cumulates in Battle of the Bands, a rock extravaganza held every spring with hundreds of attendees.
            p.lead.lead-small
                | Open Source Music gives LMC classes are taught by experienced musicians for free to the MIT community. Events offered over the years include a trash can drumming class and a guitar pedal building class, both with great success.
            p.lead.lead-small
                | But don't take our word for it - come experience it for yourself! Check out our 
                a.custom-a(href='https://www.facebook.com/pg/LMC.MIT/events/?ref=page_internal') Upcoming Events
                |  or contact us at 
                a.custom-a(href='mailto:lmc-exec@mit.edu') lmc-exec@mit.edu
                | .

