extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          p.lead.lead-small
                | All our Concert Series shows are free and feature professional audio, lighting and staging, giving bands a place to showcase their music with no cost to the bands or the audience. We typically host about one concert per month, featuring student acts across a wide variety of styles.
          p.lead.lead-small
                | For booking, please 
                a.custom-a(href='mailto:lmc-exec@mit.edu?subject=LMC Concert Inquiry') email us
                |  and we will get back to you with our current availability. Thank you!

