extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          p.lead.lead-small
                | Check out our 
                a.custom-a(href='https://www.facebook.com/pg/LMC.MIT') Facebook page
                |  or email us at 
                a.custom-a(href='mailto:lmc-exec@mit.edu') lmc-exec@mit.edu
                | !

