extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          h1.cover-heading Bringing live music back to campus.
          p.lead
            a.btn.btn-lg.btn-default(href='/about') Learn more

