extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          p.lead.lead-small
            | Open Source Music gives LMC classes are taught by experienced musicians for free to the MIT community. Events offered over the years include beginner guitar lessons, a trash can drumming class and a guitar pedal building class, all with great success.
          p.lead.lead-small
            | We should hopefully be offering beginner guitar lessons for fall 2017. To be the first to hear about any and all opportunities, please 
            a.custom-a(href='mailto:lmc-exec@mit.edu?subject=LMC Interest') email us
            |  (including your Kerberos, if not sending from your MIT account), and we will add you to our mailing list. Thank you!

