extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          p.lead.lead-small
                | LMC offers equipment rentals to student groups at MIT. We have quite a large range of equipment from live sound to instruments, available at competitive prices. For inquiries regarding availability and pricing, please 
                a.custom-a(href='mailto:lmc-exec@mit.edu?subject=LMC Rental Inquiry') email us
                |  with a description of the desired equipment and dates, as well as the name of the student group. Thank you!

