extends layout.pug

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        include navbar.pug
        .inner.cover
          p.lead.lead-small
                | As a student group, we are always looking for opportunities to support our goal of bringing live music to MIT. If you or your organization are interested in sponsoring us in this goal, please 
                a.custom-a(href='mailto:lmc-exec@mit.edu?subject=LMC Sponsorship Inquiry') email us
                |  with your proposal and we will get back to you as soon as we can. Thank you!

